@{
	var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
	var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CarApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CarApp.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<div class="mainWrapper">
		<header class="d-flex align-items-center justify-content-between">
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
				<div class="container">					
					@* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarManagerApp</a> *@
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="">
								<a class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")"
								   asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="">
								<a class="nav-link @(currentController == "Home" && currentAction == "Info" ? "active" : "")"
								   asp-controller="Home" asp-action="Info">Info</a>
							</li>
							<li class="">
								<a class="nav-link @(currentController == "Cars" ? "active" : "")"
								   asp-controller="Cars" asp-action="Index">Your fleet</a>
							</li>
							<li class="">
								<a class="nav-link @(currentController == "Triplogs" ? "active" : "")"
								   asp-controller="TripLogs" asp-action="Index">Trips</a>
							</li>
							<li class="">
								<a class="nav-link @(currentController == "Repairs" ? "active" : "")"
								   asp-controller="Repairs" asp-action="Index">Repairs</a>
							</li>
						</ul>
					</div>					
				</div>				
			</nav>
			<div class="d-flex align-items-center me-4">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="me-3">Logged-in: @User.Identity.Name </div>
					<form asp-controller="Account" asp-action="Logout" method="post">
						<button class="btn btn-gradient btn-100w" type="submit">Sign out</button>
					</form>
				}
				else
				{
					<form asp-controller="Account" asp-action="Login" method="get">
						<button class="btn btn-gradient btn-100w" type="submit">Log in</button>
					</form>
				}
			</div>
			
		</header>
		<main role="main" class="main pb-3">
			<div class="container">
				@RenderBody()
			</div>
		</main>
		<footer class="myfooter text-muted text-center">
			<div class="">
				&copy; 2025 - D4nB3rg - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
	</div>
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
