@using CarApp.DTO

@model IEnumerable<RepairDTO>

<div class="table-responsive">
	<table class="table ">
		<thead class="">
			<tr>
				@* <th>Car</th> *@
				<th style="width: 15%;">Start</th>
				<th style="width: 15%;">End</th>
				<th style="width: 40%;">Description</th>
				<th style="width: 10%;">Mileage</th>
				<th style="width: 10%;">Cost(kč)</th>
				<th style="width: 10%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var repair in Model)
			{
				<tr>
					@* <td>@repair.CarBrand @repair.CarModel</td> *@
					<td style="width: 15%;">@repair.RepairDateStart.ToShortDateString()</td>
					<td style="width: 15%;">@(repair.RepairDateEnd.HasValue ? repair.RepairDateEnd.Value.ToShortDateString() : "—")</td>
					<td style="width: 40%;">@repair.Description</td>
					<td style="width: 10%;">@repair.MileageAtRepair.ToString("N0")</td>
					<td style="width: 10%;">@repair.Cost.ToString("N2")</td>
					<td style="width: 10%;">
						<div class="d-flex my-1 gap-1">
							<form method="get">
								<button type="submit"
										class="btn btn-gradient btn-sm text-success"
										formaction="@Url.Action("Edit", "Repairs", new { id = repair.Id })">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
							<form method="post" onsubmit="return confirm('Are you sure you want to delete this repair?');"
								  asp-controller="Repairs"
								  asp-action="Delete"
								  asp-route-id="@repair.Id">
								<button type="submit" class="btn btn-gradient btn-sm text-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>



