@using CarApp.DTO

@model IEnumerable<TripLogDTO>

<div class="table-responsive">
	<table class="table">
		<thead class="">
			<tr>
				<th style="width: 15%;">Start</th>
				<th style="width: 15%;">End</th>
				<th style="width: 20%;">Distance</th>
				<th style="width: 35%;">Purpose</th>
				<th style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var trip in Model)
			{
				<tr>
					<td>@trip.StartDate.ToShortDateString()</td>
					<td>@trip.EndDate.ToShortDateString()</td>
					<td>@trip.DistanceKm.ToString("N0") km</td>
					<td>@trip.Purpose</td>
					<td>
						<div class="d-flex my-1 gap-1">
							<form method="get">
								<button type="submit"
										class="btn btn-gradient btn-sm text-success"
										formaction="@Url.Action("Edit", "TripLogs", new { id = trip.Id })">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
							<form method="post" onsubmit="return confirm('Are you sure you want to delete this trip?');"
								  asp-controller="TripLogs"
								  asp-action="Delete"
								  asp-route-id="@trip.Id">
								<button type="submit" class="btn btn-gradient btn-sm text-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
