@using CarApp.DTO
@model RepairStatsViewModel

@if (User.Identity.IsAuthenticated)
{
	<div class="container my-3 d-flex flex-column flex-lg-row">
		<div class="col-12 col-lg-3 me-3 mb-3">
			<div class="myFrame">
				<h3 class="mb-4 ms-4 border-bottom">Statistics</h3>
				<h4 class="mb-4 ms-4">fleet Summary</h4>
				<ul class="">

					<li class="mb-3">Repairs sum: <strong>@Model.TotalRepairs x</strong></li>
					<li class="mb-3">Days in repair total: <strong>@Model.DaysOff days</strong></li>
					<li class="mb-3">Sum of costs: <strong>@Model.TotalCost.ToString("N2") Kč</strong></li>
					<li class="mb-3 pb-3 border-bottom">Average price: <strong>@Model.AverageCost.ToString("N2") Kč</strong></li>
				</ul>
				<h4 class="mb-4 ms-4">Performance</h4>
				<ul>
					<li class="mb-3">
						<div>Car with highest costs:</div>
						<strong>@Model.HighCostCarBrand @Model.HighCostCarModel</strong> (@Model.HighCost.ToString("N0") Kč)
					</li>
					<li class="mb-3">
						<div>Car longest off:</div>
						<strong>@Model.LongestOffCarBrand @Model.LongestOffCarModel</strong> (@Model.LongestOff days)
					</li>
					<li class="mb-3">
						<div>Most repaired car:</div>
						<strong>@Model.MostRepairedCarBrand @Model.MostRepairedCarModel</strong> (@Model.MostRepairedCount repairs)
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-lg-9">
			<div class="myFrame col-12 mb-3">
				<h3>List of all repairs</h3>
				<form method="get" asp-controller="Repairs" asp-action="OrderBy" class="d-inline-flex flex-column flex-md-row gap-2 align-items-center">
					<label for="SortOptionRepairs">Sort by:</label>
					<select name="sortOptionRepair" class="form-control selectInput" asp-items="ViewBag.SortOptionsRepairs">
						<option value="">-- Select option --</option>
					</select>
					<select name="sortDirection" class="form-control selectInput">
						<option value="Asc">Ascending</option>
						<option value="Desc" selected>Descending</option>
					</select>
					<button type="submit" class="btn btn-gradient btn-100w">Sort</button>
				</form>
			</div>
			<div class="myFrame  col-12  table-responsive">
				<div class="tableHeight">
					<table class="table  table-striped">
						<thead class="">
							<tr>
								<th style="width: 15%;">Car</th>
								<th style="width: 10%;">Start date</th>
								<th style="width: 10%;">End date</th>
								<th style="width: 5%;">Days off</th>
								<th style="width: 35%;">Description</th>
								<th style="width: 15%;">Mileage at repair</th>
								<th style="width: 10%;">Cost</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var repair in Model.Repairs)
							{
								<tr>
									<td>@repair.CarBrand @repair.CarModel</td>
									<td>@repair.RepairDateStart.ToShortDateString()</td>
									<td>@repair.RepairDateEnd.ToShortDateString()</td>
									<td>@repair.DaysInService</td>
									<td>@repair.Description</td>
									<td>@repair.MileageAtRepair.ToString("N0") km</td>
									<td>@repair.Cost.ToString("F2")</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>
}



