@using CarApp.DTO
@model CarDTO

<div class="container">
	<div class="d-flex justify-content-between col-12 myFrame my-3">		
		<div>
			<h3>@Model.Brand @Model.Model </h3>
			<p>@Model.Year</p>
			@* <p>Car ID: @Model.Id</p> *@
		</div>
		<form method="get" asp-action="Index">
			<button type="submit" class="btn btn-gradient btn-200w">Back to cars list</button>
		</form>
	</div>

	
	<div class="">
		<div class="d-flex flex-column flex-xl-row gap-2">
			
			<div class="myFrame flex-fill mb-3">
				<div class="d-flex justify-content-between align-items-center mb-2">
					<h4 >Trip Logs</h4>
					@* <p>Car ID: @Model.Id</p> *@
					<a class="btn btn-aqua btn-200w" asp-controller="TripLogs" asp-action="Create" asp-route-carId="@Model.Id">
						Add Trip Log
					</a>
				</div>
				@await Html.PartialAsync("_TripLogsPartial", Model.TripLogs)
			</div>
			
			<div class="myFrame flex-fill mb-3">
				<div class="d-flex justify-content-between align-items-center  mb-2">
					<h4 >Repairs</h4>
					@* <p>Car ID: @Model.Id</p> *@
					<a class="btn btn-aqua btn-200w" asp-controller="Repairs" asp-action="Create" asp-route-carId="@Model.Id">
						Add Repair
					</a>
				</div>
				@await Html.PartialAsync("_RepairsPartial", Model.Repairs)
			</div>
		</div>
	</div>
</div>





